/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*styling all elements*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1920px;
	padding: 0 80px;
	margin: auto;
}

/* navbar styling start */
.navbar{
	position: fixed;
	width: 100%;
	padding: 15px;
	background: #ff510c;
	font-family: 'Ubuntu', sans-serif;
	border: 2px solid black;
	border-radius: 15px;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	color: #fff;
	padding-left: 100px;
	font-size: 35px;
	font-weight: 500;
} 
.navbar .logo a span{
	color: #ffe630;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: #ffe630;
}
/* navbar styling end */


/* footer section styling start */
footer{
	background-color: #fff;
	height: 118px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 25px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
.social-icons{
	display: flex;
}
.social-icons i{
	color: #000000;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}	
.social-icons a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.copyright{
	color: #565655;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
/* footer section styling end */

/* blog page styling start */
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0px;
	background-color: #f1f1f1;
}

header{
	background-color: #fff;
	padding: 80px;
}
header h1{
	text-align: center;
	font-size: 60px;
	color: #000000;
	margin-top: 40px;
}
.content{
	width: 75%;
	text-align: justify;
}
.card{
	padding: 20px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	color: #fff;
	background-color: #000000;
	border-radius: 15px 50px;	
}
.card img{
	width: 50%;
}
#more{
	display: none;
}
button{
	background-color: #ff0066;
	border: none;
	outline: none;
	color: white;
	font-size: 18px;
	padding: 5px;

/*  blog page styling end */